name: .NET Build & Test

on:
  - push
  - pull_request


env:
  YumeChan_PluginsLocation: build

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0'
    
      - uses: dotnet/nbgv@v0.4.2
        id: nbgv
    
      - name: Restore dependencies
        run: dotnet restore
    
      - name: Build
        run: dotnet build --no-restore
    
      - name: Test
        run: dotnet test --no-build --verbosity normal