name: .NET Build, Pack & Publish

on: 
  push:
    branches:
      main
  workflow_dispatch:

env:
  YumeChan_PluginsLocation: build

jobs:
  publish-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0'

      - uses: dotnet/nbgv@v0.4.2
        id: nbgv
        
      - name: Install dependencies
        run: dotnet restore
        
      - name: .NET Build & Pack
        run: dotnet build -c release -o "publish"
        
      - name: Upload dotnet build
        uses: actions/upload-artifact@v5
        with:
          name: dotnet-build-release
          path: "build"
